/* noto-sans-italic - latin */
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/noto-sans-v6-latin-italic.eot');
	/* IE9 Compat Modes */
	src: local('Noto Sans Italic'), local('NotoSans-Italic'),
		url('../fonts/noto-sans-v6-latin-italic.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v6-latin-italic.woff2') format('woff2'),
		/* Super Modern Browsers */
       url('../fonts/noto-sans-v6-latin-italic.woff') format('woff'),
		/* Modern Browsers */
       url('../fonts/noto-sans-v6-latin-italic.ttf') format('truetype'),
		/* Safari, Android, iOS */
       url('../fonts/noto-sans-v6-latin-italic.svg#NotoSans')
		format('svg'); /* Legacy iOS */
}

/* noto-sans-700 - latin */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/noto-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans Bold'), local('NotoSans-Bold'),
		url('../fonts/noto-sans-v6-latin-700.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v6-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */
       url('../fonts/noto-sans-v6-latin-700.woff') format('woff'),
		/* Modern Browsers */
       url('../fonts/noto-sans-v6-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */
       url('../fonts/noto-sans-v6-latin-700.svg#NotoSans') format('svg');
	/* Legacy iOS */
}

/* noto-sans-700italic - latin */
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/noto-sans-v6-latin-700italic.eot');
	/* IE9 Compat Modes */
	src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
		url('../fonts/noto-sans-v6-latin-700italic.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v6-latin-700italic.woff2')
		format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v6-latin-700italic.woff') format('woff'),
		/* Modern Browsers */
       url('../fonts/noto-sans-v6-latin-700italic.ttf')
		format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v6-latin-700italic.svg#NotoSans')
		format('svg'); /* Legacy iOS */
}

/* noto-sans-regular - latin */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/noto-sans-v6-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local('Noto Sans'), local('NotoSans'),
		url('../fonts/noto-sans-v6-latin-regular.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v6-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */
       url('../fonts/noto-sans-v6-latin-regular.woff') format('woff'),
		/* Modern Browsers */
       url('../fonts/noto-sans-v6-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
       url('../fonts/noto-sans-v6-latin-regular.svg#NotoSans')
		format('svg'); /* Legacy iOS */
}

@media only screen and (min-width: 810px) {
}

@media only screen and (min-width: 620px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 380px) {
}

html, body, div, span, applet, input, textarea, button, select, option,
	object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
	acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
	s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
	dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
	tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 14px;
	font-family: 'Noto Sans', sans-serif;
}

ul {
	margin-left: 20px;
}

html * {
	max-height: 1000000px;
}

div, a, p, form, ul, li {
	font-size: inherit;
}

p {
	padding-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"],
	input[type="search"], textarea {
	border: 1px solid #AAA;
	padding: 3px;
}

textarea {
	resize: none;
}

select {
	border: 1px solid #AAA;
	padding: 2px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

hr {
	border: 1px solid #DDD;
}

.ui-state-default { /*	color: #1C94C4 !important;*/
	color: #C45901 !important;
}

.product_container .arrow_prev, .product_container .arrow_next {
	width: 50 px;
	text-align: center;
}

.product_container {
	min-width: 980px;
	overflow: hidden;
	padding-bottom: 20px;
	]
}

.product_container>div {
	float: left;
}

.product_container div.product {
	float: left;
	width: 180px;
}

.product_container div.product .price {
	font-weight: bold;
	color: #E47911;
}

.product_container div.product .home_product_title {
	font-weight: bold;
}

.arrow_prev {
	background-image: url("../img/arrow_prev.png");
	width: 47px;
	height: 46px;
	cursor: pointer;
	margin-top: 55px;
}

.arrow_next {
	background-image: url("../img/arrow_next.png");
	width: 47px;
	height: 46px;
	cursor: pointer;
	margin-top: 55px;
}

.box_skitter {
	width: 700px !important;
	height: 365px !important;
}

.home_menu {
	float: left;
	width: 206px;
	height: 280px;
	border: 1px solid #DDD;
	margin: 5px;
	display: block;
}

.home_menu .header {
	font-weight: bold;
}

.home_menu div {
	border-bottom: 1px solid #ddd;
}

.home_menu a {
	display: block;
	line-height: 27px;
	height: 27px;
	padding: 0 5px;
}

.home_menu a:hover {
	background-color: #FAFAFA;
}

.home_menu div:last-child {
	border-bottom: none;
}

.zebra_2>div {
	
}

.home_banner_big {
	float: left;
	width: 700px;
	height: 280px;
	overflow: hidden;
	border: 1px solid #DDD;
	margin: 5px;
	display: block;
}

.home_banner_small {
	float: left;
	width: 298px;
	height: 85px;
	margin: 5px;
	border: 1px solid #DDD;
	display: block;
}

.page_selector {
	margin: auto;
	width: 310px;
	padding-bottom: 20px;
	overflow: hidden;
}

.page_selector a {
	display: block;
}

.page_selector a:hover {
	background-color: #E47911;
}

.page_selector img {
	height: 24px;
	padding: 3px 0;
}

.page_selector div {
	float: left;
	width: 60px;
	background-color: #EEE;
	line-height: 30px;
	height: 30px;
	text-align: center;
}

.page_selector .first {
	border: 1px solid #DDD;
	border-radius: 5px 0 0 5px;
}

.page_selector .prev {
	border: 1px solid #DDD;
	border-left: 0px;
}

.page_selector .selector {
	border: 1px solid #DDD;
	border-width: 1px 0;
	vertical-align: middle;
}

.page_selector .selector select {
	width: 100%;
	vertical-align: middle;
}

.page_selector .next {
	border: 1px solid #DDD;
	border-right: 0px;
}

.page_selector .last {
	border: 1px solid #DDD;
	border-radius: 0 5px 5px 0;
}

.content_container {
	min-width: 980px;
}

.page_footer {
	background-color: #EEF;
	border-top: 1px solid #DDD;
	background: linear-gradient(#fcfcff, #cee2fd);
	padding: 10px 0;
	clear: both;
}

.footer {
	width: 1000px;
	margin: auto;
}

.footer .footer_section {
	float: left;
	width: 20%;
}

.footer .footer_section .bank_logo img, .footer .footer_section .delivery_logo img
	{
	padding: 3px;
}

.footer .footer_title {
	font-weight: bold;
	font-variant: small-caps;
}

.footer .footer_bottom2 {
	clear: both;
	padding-top: 15px;
	margin: auto;
	text-align: center;
}

.footer .footer_bottom2 .bank_logo img, .footer .footer_bottom2 .delivery_logo img
	{
	margin-right: 20px;
}

.footer .footer_bottom {
	clear: both;
	padding-top: 15px;
	margin: auto;
	text-align: center;
}

.footer .footer_bottom>span {
	margin: 20px;
}

.left_section {
	float: left;
	width: 200px;
	font-size: 0.85em;
}

.left_section_author {
	float: left;
	width: 260px;
	font-size: 0.85em;
}

.left_section .zebra_2 {
	padding-bottom: 5px;
}

.main_section {
	width: auto;
	margin-left: 200px;
	padding-left: 10px;
	overflow: hidden;
}

.mainmain_section_bestseller {
	width: auto;
	overflow: hidden;
}

.search_filter_block {
	
}

.search_filter_items {
	display: inline-block;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding: 5px;
	margin: 0 5px 5px 0;
}

.search_keyword_block {
	padding: 5px;
}

.search_keyword_block div {
	
}

.search_keyword_block div:first-child {
	
}

.button_link {
	cursor: pointer;
	border: 1px solid #BBB;
	border-radius: 5px;
	padding: 5px;
	margin: 3px;
	background: linear-gradient(#EEF, #cee2fd);
	cursor: pointer;
	display: inline-block;
}

.menus {
	display: none;
}

.product_slider a:link, .product_slider a:visited {
	color: #333;
}

.product_slider .product>a {
	height: 165px;
	display: block;
}

.product_slider .product .helper {
	height: 165px;
	display: inline-block;
	vertical-align: middle;
}

.product_slider .product img {
	vertical-align: middle;
}

.section_header {
	margin: 10px 0;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid #CCC;
}
/*
.bx-wrapper .bx-viewport {
	border: none !important;
	box-shadow: none !important;
	left: 0 !important;
}

.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {
	bottom: 15px !important;
	z-index: 200;
}
*/
.gray_text {
	color: gray;
}

.lazy {
	width: auto !important;
	height: auto !important;
}

.zoomWindow {
	background-color: transparent !important;
}

.add_to_cart_container {
	border: 1px solid #DDD;
	border-radius: 5px;
	background: #EEE;
	margin-left: 10px;
	text-align: center;
	padding: 10px;
}

.stock_reminder_container {
	border: 1px solid #FF8C00;
	border-radius: 5px;
	background: #ffcc6c;
	margin-left: 10px;
	text-align: center;
	padding: 10px;
}

.right_section_container {
	margin-left: 10px;
	text-align: center;
	padding: 10px;
}

.share_container {
	margin: 5px 0;
}

.share_container table {
	margin: auto;
}

.share_container table td {
	padding: 5px;
}

.ui-button-text {
	padding: 2px 10px !important;
	font-size: 0.9em !important;
}

.price_discounted {
	text-decoration: line-through;
}

.cake-sql-log tr:nth-child(2n+1) {
	background-color: #EEE;
}

.cake-sql-log td {
	font-size: 12px;
}

.product_home_no_image {
	margin: auto;
	width: 120px;
	height: 160px;
	text-align: center;
	background-color: #EEE;
	border: 1px solid gray;
	/* box-shadow: 0px 0px 5px #000; */
}

.product_home_no_image_small {
	margin: auto;
	width: 40px;
	height: 50px;
	text-align: center;
	background-color: #EEE;
	border: 1px solid gray;
}

.product_home_no_image_small span {
	font-size: 0.7em;
}

.product_home_no_image span {
	margin-top: 60px;
	display: inline-block;
}

.product_detail_no_image {
	margin: 10px auto;
	width: 225px;
	height: 330px;
	text-align: center;
	background-color: #EEE;
	border: 1px solid gray;
	/* box-shadow: 0px 0px 5px #000; */
}

.product_detail_no_image span {
	margin-top: 150px;
	display: inline-block;
}

.product_no_image {
	margin: auto;
	width: 75px;
	height: 100px;
	text-align: center;
	background-color: #EEE;
	border: 1px solid gray;
	width: 75px;
	/* box-shadow: 0px 0px 5px #000; */
}

.product_no_image span {
	margin-top: 25px;
	display: inline-block;
}

.product_image_small {
	border: 1px solid gray;
	/*box-shadow: 0px 0px 5px #000;*/
	/*	background-image: url('../img/bb_bg.png');*/
	background-position: center;
	background-repeat: no-repeat;
}

.headers {
	width: 100%;
	min-width: 980px;
	z-index: 1;
	position: fixed;
	background-color: white;
}

.page_header {
	height: 160px;
}

.page_header .header_row_1 {
	min-width: 990px;
	position: absolute;
	right: 0;
}

.page_header .header_row_1>div>div {
	padding: 0 10px 0 5px;
	display: inline-block;
	border-right: 1px solid #CCC;
}

.page_header .header_row_1 a {
	font-size: 0.9em;
}

.page_header .header_row_1>div>div:last-child {
	border: none;
}

.page_header .header_row_2 {
	border-bottom: 1px solid #DDD;
	padding: 10px 5px 5px;
	clear: both;
	min-width: 960px;
}

.page_header .header_row_2 .features {
	margin: 15px 0 0 250px;
	width: auto;
}

.page_header .header_row_2 .features>div {
	display: inline-block;
	width: 32%;
	text-align: center;
}

.page_header .header_row_2 .logo {
	float: left;
	padding: 0 10px;
}

.page_header .header_row_2 .logo_center {
	text-align: center;
}

.page_header .header_row_2 .logo img {
	height: 60px;
}

.page_header .header_row_3_fixed {
	background: linear-gradient(#fcfcff, #cee2fd);
	background-color: #EEF;
	border-bottom: 1px solid #DDD;
	padding: 5px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	min-width: 980px;
}

.page_header .header_row_3 {
	background: linear-gradient(#fcfcff, #cee2fd);
	background-color: #EEF;
	border-bottom: 1px solid #DDD;
	padding: 5px;
}

.page_header .header_row_3 .headerLogo {
	line-height: 35px;
}

.page_header .header_row_3 .headerLogo img {
	vertical-align: middle;
	width: 24px;
	border: 1px solid #BBB;
	background-color: rgb(206, 226, 253);
	padding: 2px;
	border-radius: 5px;
}

.page_header #header_row_3 .search_button {
	line-height: 36px;
	height: 36px;
	width: 50px;
	display: block;
	text-align: center;
	border: 1px solid #DDD;
	border-left: none;
	border-radius: 0 5px 5px 0;
	color: #FF6F3F;
	margin-right: 30px;
	background: linear-gradient(#FFFFFF, #cee2fd);
}

.page_header
 
#header_row_3
 
.search_button
:hover {
	background: linear-gradient(#EEEEFF, #cee2fd);
}

.page_header
 
#header_row_3
 
.search_button
 
img {
	height: 25px;
	vertical-align: middle;
	line-height: 36px;
}

.page_header
 
#header_row_3
 
.search_button
 
.helper {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.page_header
 
#header_row_3
 
.search_text {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	margin-left: 20px;
}

.page_header
 
#header_row_3
 
.search_input_container {
	border: 1px solid #DDD;
	border-radius: 5px 0 0 5px;
	background-color: #FFF;
	height: 26px;
	line-height: 26px;
	padding: 5px 5px;
}

.page_header
 
#header_row_3
 
.search_input_container
 
input {
	width: 100%;
	border: none;
	padding: 3px 0;
}

.page_header
 
.header_row_4 {
	background-color: #fbecd9;
	background: linear-gradient(#fffdea, #fbecd9);
	border-bottom: 1px solid #DDD;
	padding: 5px;
}

.page_header
 
.header_row_4
 
a {
	padding-right: 15px;
}

.page_header_cart {
	width: 980px;
	min-width: 980px;
	z-index: 1;
	margin: auto;
	border-bottom: 1px solid #DDD;
}

.page_header_cart
 
.logo {
	float: left;
	padding: 0 10px 10px;
}

#home_banner {
	width: 930px;
	min-width: 930px;
	margin: 0 auto;
}

@media screen and (max-width: 1000px) {
	#home_banner {
		width: 930px;
		min-width: 930px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1000px) {
	#home_banner {
		width: 930px;
		min-width: 930px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1280px) {
	#home_banner {
		width: 1250px;
		min-width: 1250px;
		margin: 0 auto;
	}
}

.page_header #header_row_3 .search_button:hover {
	background: linear-gradient(#EEEEFF, #cee2fd);
}

.page_header #header_row_3 .search_button img {
	height: 25px;
	vertical-align: middle;
	line-height: 36px;
}

.page_header #header_row_3 .search_button .helper {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.page_header #header_row_3 .search_text {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	margin-left: 20px;
}

.page_header #header_row_3 .search_input_container {
	border: 1px solid #DDD;
	border-radius: 5px 0 0 5px;
	background-color: #FFF;
	height: 26px;
	line-height: 26px;
	padding: 5px 5px;
}

.page_header #header_row_3 .search_input_container input {
	width: 100%;
	border: none;
	padding: 3px 0;
}

.page_header .header_row_4 {
	background-color: #fbecd9;
	background: linear-gradient(#fffdea, #fbecd9);
	border-bottom: 1px solid #DDD;
	padding: 5px;
}

.page_header .header_row_4 a {
	padding-right: 15px;
}

.page_header_cart {
	width: 980px;
	min-width: 980px;
	z-index: 1;
	margin: auto;
	border-bottom: 1px solid #DDD;
}

.page_header_cart .logo {
	float: left;
	padding: 0 10px 10px;
}

#home_banner {
	width: 930px;
	min-width: 930px;
	margin: 0 auto;
}

@media screen and (max-width: 1000px) {
	#home_banner {
		width: 930px;
		min-width: 930px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1000px) {
	#home_banner {
		width: 930px;
		min-width: 930px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1280px) {
	#home_banner {
		width: 1250px;
		min-width: 1250px;
		margin: 0 auto;
	}
}

.social_icon {
	line-height: 22px;
}

.social_icon img {
	vertical-align: middle;
}

.page_content {
	padding: 10px 10px 50px;
	min-width: 960px;
	min-height: 300px;
}

.page_content.page_content_help {
	padding: 0;
}

a:link, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #E47911;
}

.social_media_logo img {
	height: 50px;
}

.browse_bar {
	background-color: #EEE;
	padding: 5px;
	font-weight: bold;
	margin-bottom: 10px;
	overflow: hidden;
}

.browse_bar .category_bar {
	float: left;
}

.browse_bar .switch_view {
	float: right;
}

.browse_bar .switch_view img {
	vertical-align: middle;
}

.browse_bar .result_count {
	float: left;
}

.headerMenu2 .menu_member {
	height: 38px;
	padding: 0 5px;
	border-right: 1px solid #DDD;
}

.headerMenu3 .cart_items {
	font-size: 1.1em;
	font-weight: bold;
	color: #E47911;
	position: absolute;
	margin-left: 5px;
	margin-top: -6px;
	width: 30px;
	text-align: center;
}

.headerMenu3 .cart_items_99 {
	font-size: .9em;
	font-weight: bold;
	color: #E47911;
	position: absolute;
	margin-left: 5px;
	margin-top: -4px;
	width: 30px;
	text-align: center;
}

.headerMenu3 .menu_cart {
	height: 38px;
	line-height: 38px;
	padding: 0 5px;
	border-right: 1px solid #DDD;
}

.headerMenu3 .menu_cart img {
	vertical-align: middle;
	padding-right: 5px;
}

.headerMenu4 .menu_wishlist {
	height: 38px;
	padding: 0 5px;
}

.promo_combined_tbl td {
	padding: 10px 5px;
}

.product_image_large_container {
	padding: 10px 0;
	width: 350px;
	height: 330px;
}

.product_image_large_container div {
	height: 330px;
}

.product_image_large_container .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.product_image_large_container img {
	vertical-align: middle;
	border: 1px solid gray;
}

.cart_table_container {
	padding: 5px 0;
}

.cart_table_container:nth-child(2n+1) {
	background-color: #EEEEFF;
}

.menu_member {
	
}

.member_page_menu {
	float: left;
	width: 200px;
	padding: 0 5px;
}

.member_page_content {
	width: auto;
	margin-left: 215px;
}

.category_item {
	padding: 2px 0;
}

#menu_category_content {
	background-color: #EEE;
	border: 1px solid #DDD;
	width: 750px;
	height: auto;
	padding: 10px;
}

#menu_category_content .category_split {
	float: left;
	width: 250px;
}

#menu_category_content .category_title {
	border-bottom: 1px solid #DDD;
	clear: both;
}

.menu_category_other {
	clear: both;
	border-top: 1px solid #DDD;
	padding-top: 3px;
}

.error-message {
	color: #F33;
	font-weight: bold;
}

.loading_container {
	width: 100%;
	height: 100%;
	background: transparent url("../img/loading_back.png") top left repeat;
	position: fixed;
	z-index: 9999;
}

.loading {
	border: 5px solid #ddd;
	background-color: #fff;
	padding: 10px;
	font-size: 1.5em;
	width: 160px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -80px;
	margin-top: -30px;
	box-shadow: 0 0 10px #000;
}

.loading_partial {
	background-image: url('../img/loading_back.png');
	position: absolute;
	z-index: 800;
	border: 1px solid #333;
	border-radius: 3px;
}

.loading_partial table table td {
	background-color: white;
	border: 2px solid black;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
	box-shadow: 0 0 10px #000;
}

.width_full {
	width: 100% !important;
}

.status_gray {
	background-color: #EEE;
	border: 2px solid #CCC;
	border-radius: 5px;
	text-transform: capitalize;
	padding: 2px 5px;
	margin: 5px 3px;
	font-weight: bold;
	line-height: 27px;
}

.status_green {
	background-color: #AFA;
	border: 2px solid #0F0;
	border-radius: 5px;
	text-transform: capitalize;
	padding: 2px 5px;
	margin: 5px 3px;
	font-weight: bold;
	line-height: 27px;
}

.status_red {
	background-color: #FAA;
	border: 2px solid #F00;
	border-radius: 5px;
	text-transform: capitalize;
	padding: 2px 5px;
	margin: 5px 3px;
	font-weight: bold;
	line-height: 27px;
}

.status_yellow {
	background-color: #FFC;
	border: 2px solid #FC0;
	border-radius: 5px;
	text-transform: capitalize;
	padding: 2px 5px;
	margin: 5px 3px;
	font-weight: bold;
	line-height: 27px;
}

.status_orange {
	background-color: #ffE8Bc;
	border: 2px solid #E47911;
	border-radius: 5px;
	text-transform: capitalize;
	padding: 2px 5px;
	margin: 5px 3px;
	font-weight: bold;
	line-height: 27px;
}

.status_orange_light {
	background-color: #fff0c4;
	border: 2px solid #ed841a;
	border-radius: 5px;
	text-transform: capitalize;
	padding: 2px 5px;
	margin: 5px 3px;
	font-weight: bold;
	line-height: 27px;
}

.text_double {
	font-size: 2em;
}

.text_smaller {
	font-size: 0.8em;
}

.text_smaller td, .text_smaller span {
	font-size: 0.8em;
}

.zebra_2>div:nth-child(2n) {
	background-color: #eee;
}

.zebra_2>div:nth-child(2n+1) {
	background-color: #fafafa;
}

.zebra_2>div:last-child {
	border-bottom: none;
}

.zebra_2>div {
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

.zebra_2>div.header {
	background-color: #ddd;
	color: #EEE;
	padding: 3px 0;
	text-align: center;
}

.zebra>thead th, .zebra>tfoot th {
	background-color: #999;
	color: #EEE;
	padding: 3px 0;
}

.zebra>tbody>tr:nth-child(2n) {
	background-color: #eee;
}

.zebra>tbody>tr:nth-child(2n+1) {
	background-color: #fafafa;
}

.zebra.small_list tr {
	
}

.zebra>tbody>tr:last-child td {
	border-bottom: none;
}

.zebra>tbody>tr>td {
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

.section_title {
	background-color: #333;
	color: #DDD;
	padding: 3px 3px;
	font-weight: bold;
	margin: 5px 0 0;
}

.page_title {
	border-bottom: 2px solid #DDD;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 5px;
}

.product_title {
	font-size: 1.4em;
	font-weight: bold;
}

.segment_title {
	font-weight: bold;
	font-size: 1.2em;
	color: #666666;
	border-bottom: 1px solid #DDD;
	margin: 10px 0 5px 0;
}

.segment_title_no_top {
	font-weight: bold;
	font-size: 1.2em;
	color: #666666;
	border-bottom: 1px solid #DDD;
	margin: 0 0 5px 0;
}

.checkbox_label label {
	display: inline-block;
	cursor: pointer;
	min-width: 150px;
	margin-left: 3px;
}

.checkbox_label {
	float: left;
	background-color: #EEE;
	border: 1px solid #666;
	margin: 3px;
	padding: 3px;
	border-radius: 5px;
}

.changes_radiogroup label {
	margin: 2px;
	margin-left: -20px;
	padding: 3px;
	padding-left: 25px;
	padding-right: 10px;
	border: 1px solid #AAA;
	display: inline-block;
	border-radius: 5px;
	width: 55px;
}

.radiogroup label {
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 5px;
}

.radiogroup div {
	float: left;
	min-width: 150px;
	margin-left: 3px;
	background-color: #EEE;
	border: 1px solid #666;
	margin: 3px;
	padding: 3px;
	border-radius: 5px;
}

.float_clear {
	clear: both;
}

.down_arrow {
	border-color: #606060 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 4px 4px 0;
	display: inline-block;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin: 0 0 2px 5px;
	width: 0;
}

.SEO_text {
	border-top: 1px solid #CCC;
	padding: 10px;
}

.SEO_text p {
	font-size: 0.8em;
	color: #666;
}

.home_testimonials {
	margin: auto;
}

.home_testimonial_items {
	
}

.home_testimonial_items .content {
	font-size: 0.9em;
	padding: 0 40px 20px;
	background: url('../img/quote-s.png') no-repeat,
		url('../img/quote-e.png') bottom right no-repeat;
	min-height: 50px;
}

.home_testimonial_items .member {
	text-align: right;
	padding-right: 40px;
}

.product_list {
	clear: left;
	overflow: hidden;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #EEE;
}

.product_list:last-child {
	border: none;
}

.product_list_title a {
	color: #E47911;
	font-weight: bold;
}

.product_list .number {
	float: left;
	width: 50px;
	text-align: center;
}

.product_list .image {
	float: left;
	width: 110px;
	text-align: center;
}

.product_list .content {
	width: auto;
	margin-left: 170px;
}

.product_status_red {
	font-weight: bold;
	color: red;
}

.product_status_green {
	font-weight: bold;
	color: #36BA27;
}

.product_status_orange {
	font-weight: bold;
	color: #F48921;
}

.rating_container {
	line-height: 21px;
}

.product_rating img {
	vertical-align: middle;
}

.product_list_detail {
	padding-right: 20px;
}

.product_list .product_author {
	padding-right: 5px;
}

.product_list .content .price_discounted {
	padding-right: 20px;
}

.product_list .content .price {
	font-size: 1.1em;
	color: maroon;
}

.product_list .content .discount_percent {
	font-size: 1.1em;
	color: maroon;
}

.rating_container .first_review {
	font-size: 0.85em;
}

.product_detail .price {
	font-size: 1.2em;
	/* 	color: maroon; */
	color: #E47911;
	font-weight: bold;
}

.product_detail .discount_percent {
	font-size: 1.2em;
	color: #E47911;
	font-weight: bold;
}

.total_price {
	font-size: 1.2em;
	font-weight: bold;
}

.total_weight {
	font-size: 1.2em;
	font-weight: bold;
}

.checkout_steps {
	float: left;
	padding-top: 10px;
	padding-left: 20px;
}

.checkout_steps div.split {
	border: solid rgba(255, 255, 255, 0);
	border-left-color: #DDD;
	float: left;
	margin: 12px 10px;
	border-width: 15px 0 15px 15px;
}

.checkout_steps div.step {
	border-radius: 5px;
	width: 130px;
	padding: 5px;
	background-color: #EEE;
	float: left;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	height: 45px;
	vertical-align: middle;
}

.checkout_steps div.step:last-child {
	
}

.checkout_steps div.step.done {
	background-color: #CCC;
}

.checkout_steps div.step.current {
	background-color: #E47911;
	color: white;
}

.header_cart_product_list {
	overflow: hidden;
	padding-bottom: 5px;
}

.header_cart_product_list .image {
	float: left;
	width: 60px;
}

.header_cart_product_list .image img {
	max-height: 50px;
	max-width: 50px;
}

.header_cart_product_list .product_name {
	width: auto;
	margin-left: 65px;
	text-align: left;
	font-size: 0.9em;
}

.ship_method .enabled, .ship_billing .enabled {
	font-weight: bold;
}

.ship_method .disabled, .ship_billing .disabled {
	color: #666;
}

.product_add_to_cart:link, .product_add_to_cart:visited {
	color: #000;
	padding: 5px;
	border: 1px solid #CCC;
	border-radius: 5px;
	background-color: #ff7b0d;
	background: linear-gradient(#ffa84c, #ff7b0d);
	display: block;
}

.product_add_to_cart:link td, .product_add_to_cart:visited td {
	font-size: 1.1em;
}

.product_add_to_cart:hover {
	background: linear-gradient(#ffaf4b, #ff920a);
}

.product_save_for_later:link, .product_save_for_later:visited {
	color: #000;
	padding: 5px;
	font-size: 1.1em;
	border: 1px solid #CCC;
	border-radius: 5px;
	background-color: #4096ee;
	background: linear-gradient(#7abcff, #4096ee);
	display: block;
}

.product_save_for_later:hover {
	background: linear-gradient(#87e0fd, #05abe0);
}

#cart_page .status_orange {
	padding: 5px;
	font-weight: normal;
	text-transform: none;
}

#cart_page .status_orange .product_name {
	font-weight: bold;
}

#cart_page .status_red {
	padding: 5px;
	font-weight: normal;
	text-transform: none;
}

#cart_page .status_red .product_name {
	font-weight: bold;
}

.product_group {
	margin-top: 20px;
	border: 1px solid #EEE;
	width: 400px;
}

.product_group tr:hover {
	background-color: #F6F6F6;
}

.product_group tr.highlight {
	background-color: #ffE8Bc;
	border: 1px solid #E47911;
}

.product_group tr.highlight a:link, .product_group tr.highlight a:visited
	{
	color: #000;
}

.product_group tr.highlight a:hover {
	color: #666;
}

.product_group td {
	padding: 5px;
	font-size: 0.85em;
}

.line_behind {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #CCC;
	line-height: 0.1em;
	margin: 20px auto;
}

.line_behind span {
	background: #EEE;
	padding: 0 10px;
}

.line_behind_white {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #CCC;
	line-height: 0.1em;
	margin: 20px auto;
}

.line_behind_white span {
	background: #FFF;
	padding: 0 10px;
}

.info_container {
	margin: auto;
	width: 500px;
	border: 1px solid #DDD;
	background: #EEE;
	text-align: center;
	padding: 10px;
}

.info_container .info_button {
	
}

.cart_delete {
	padding-right: 25px;
}

.product_detail_reviews>div {
	border-bottom: 1px solid #EEE;
	padding-bottom: 25px;
	margin-bottom: 10px;
}

.pages_container {
	width: 960px;
	margin: auto;
}

.cart_actions_link a {
	text-decoration: underline;
}

.testimonial_items .content {
	font-size: 1.1em;
	padding: 0 40px 20px;
	background: url('../img/quote-s.png') no-repeat,
		url('../img/quote-e.png') bottom right no-repeat;
	min-height: 50px;
}

.testimonial_items {
	border-bottom: 1px solid #EEE;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.testimonial_items:last-child {
	border: none;
}

.testimonial_items .member {
	text-align: right;
	padding-right: 40px;
}

.summary_detail_top {
	padding: 5px;
}

.summary_detail_top .detail_title {
	padding: 2px 5px;
	margin-left: 10px;
	position: absolute;
	background-color: #DDD;
	position: absolute;
	overflow: hidden;
	height: 20px;
}

.summary_detail_top .detail_title>div {
	display: inline-block;
	font-weight: bold;
}

.summary_detail_top .detail_container {
	border: 1px solid #DDD;
	background-color: #FAFAFA;
	border-radius: 5px;
	padding: 5px;
	padding-top: 20px;
	padding-left: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.summary_detail_top .detail_container .change_button {
	text-align: right;
}

.summary_tos {
	padding: 5px;
}

.summary_tos .detail_title {
	padding: 2px 5px;
	margin-left: 10px;
	position: absolute;
	background-color: #DDD;
	position: absolute;
	height: 20px;
	overflow: hidden;
}

.summary_tos .detail_title>div {
	display: inline-block;
	font-weight: bold;
}

.summary_tos .detail_container {
	border: 1px solid #DDD;
	background-color: #FAFAFA;
	border-radius: 5px;
	padding: 5px;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.summary_coupon {
	padding: 5px;
}

.summary_coupon .detail_title {
	padding: 2px 5px;
	margin-left: 10px;
	position: absolute;
	background-color: #DDD;
	position: absolute;
	height: 20px;
	overflow: hidden;
}

.summary_coupon .detail_title>div {
	display: inline-block;
	font-weight: bold;
}

.summary_coupon .detail_container {
	border: 1px solid #DDD;
	background-color: #FAFAFA;
	border-radius: 5px;
	padding: 5px;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.summary_detail_bottom {
	padding: 5px;
}

.summary_detail_bottom .detail_title {
	padding: 2px 5px;
	margin-left: 10px;
	position: absolute;
	background-color: #DDD;
	position: absolute;
	height: 20px;
	overflow: hidden;
}

.summary_detail_bottom .detail_title>div {
	display: inline-block;
	font-weight: bold;
}

.summary_detail_bottom .detail_container {
	border: 1px solid #DDD;
	background-color: #FAFAFA;
	border-radius: 5px;
	padding: 5px;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.summary_detail_bottom .detail_container tr {
	border-bottom: 1px solid #EEE;
}

.summary_detail_bottom .detail_container td {
	padding: 2px;
}

.summary_detail_bottom .detail_container tr:last-child {
	border: none;
}

.summary_shipment_name {
	font-weight: bold;
}

.cart_savings {
	font-style: italic;
	padding-bottom: 10px;
}

.summary_products {
	
}

.summary_products tr, .summary_products th {
	border-bottom: 1px solid #EEE;
}

.summary_products td {
	padding: 5px;
}

.summary_products tr:last-child {
	border: none;
}

.summary_products_title {
	padding: 2px 5px;
	margin-left: 10px;
	position: absolute;
	background-color: #DDD;
	height: 40px;
}

.summary_products_title div {
	overflow: hidden;
	height: 20px;
}

.summary_products_title_single {
	padding: 2px 5px;
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	background-color: #DDD;
	height: 20px;
}

.summary_products_title_single div {
	overflow: hidden;
	height: 20px;
}

.summary_products_title div:even {
	margin-top: 30px;
}

.summary_products_title div:odd {
	margin-top: 10px;
}

.summary_products_container {
	border: 1px solid #DDD;
	background-color: #FAFAFA;
	border-radius: 5px;
	padding: 5px;
	padding-top: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.cart_update_button {
	margin-top: 20px;
	display: none;
}

.add_cart_qty {
	padding-bottom: 10px;
}

.product_detail_review_title {
	font-weight: bold;
}

.review_bars {
	padding-top: 10px;
	float: left;
}

.review_bars #bar-5 {
	width: 0;
	background-color: #9FC05A;
}

.review_bars #bar-4 {
	width: 0;
	background-color: #ADD633;
}

.review_bars #bar-3 {
	width: 0;
	background-color: #FFD834;
}

.review_bars #bar-2 {
	width: 0;
	background-color: #FFB234;
}

.review_bars #bar-1 {
	width: 0;
	background-color: #FF8B5A;
}

.review_bars .histo {
	float: left;
	width: 400px;
	font-size: 13px;
}

.review_bars .histo-star {
	float: left;
	padding: 3px;
}

.review_bars .histo-rate {
	width: 100%;
	display: block;
	clear: both;
}

.review_bars .bar-block {
	margin-left: 5px;
	color: black;
	display: block;
	float: left;
	width: 300px;
	position: relative;
	border-bottom: 1px solid #EEE;
}

.review_bars .bar-count {
	float: left;
	padding: 3px;
	margin-left: 10px;
}

.review_bars .bar {
	padding: 0px;
	display: block;
	height: 25px;
}

.review_total {
	width: 175px;
	float: left;
	text-align: center;
}

.review_total .rating_score {
	font-size: 5em;
	line-height: 75px;
	color: #666;
}

.review_total .product_rating {
	margin: auto;
}

.review_link a {
	font-weight: bold;
	color: #c45901 !important;
}

.product_list_grid .product_no_image {
	margin: auto;
	width: 120px;
	height: 160px;
	text-align: center;
	background-color: #EEE;
	border: 1px solid gray;
	/* box-shadow: 0px 0px 5px #000; */
}

.product_list_grid .product_no_image span {
	margin-top: 60px;
	display: inline-block;
}

.product_list_grid_home {
	display: inline-block;
	vertical-align: top;
	width: 175px;
	padding: 10px;
	margin: auto -2px;
}

.product_list_grid {
	display: inline-block;
	vertical-align: top;
	width: 240px;
	padding: 10px;
	margin: auto -2px;
}

.product_list_grid.product_list_grid_author {
	width: 200px;
}

.product_list_grid:last-child {
	
}

.product_list_title a {
	color: #E47911;
	font-weight: bold;
}

.product_list_grid_home .image, .product_list_grid .image {
	text-align: center;
	height: 162px;
	line-height: normal;
}

.product_list_grid_home .image img, .product_list_grid .image img {
	vertical-align: middle;
}

.product_list_grid_home .image .helper, .product_list_grid .image .helper
	{
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}

.product_list_grid .content {
	
}

.sort_bar {
	float: right;
	padding-right: 10px;
}

.sort_bar label {
	padding: 5px;
}

.sort_bar select {
	font-size: 0.8em;
	padding: 0;
}

.sort_bar option {
	font-size: inherit;
}

#address_list {
	overflow: hidden;
}

#address_list .address_block {
	margin: 0 0 10px 0;
	vertical-align: top;
}

#address_list .address_block:nth-child(even) {
	margin-right: 0;
}

.address_block {
	border: 1px solid #DDD;
	border-radius: 5px;
	padding: 5px;
}

.address_block_full {
	border: 1px solid #DDD;
	border-radius: 5px;
	padding: 5px;
}

.address_block .name, .address_block_full .name {
	font-weight: bold;
	background-color: #EEE;
	font-size: 1.2em;
}

.address_block div, .address_block_full div {
	padding: 5px;
	border-bottom: 1px solid #EEE;
}

.address_block .header, .address_block_full .header {
	border: none;
}
/*
.address_block div:last-child,.address_block_full div:last-child {
	border: none;
}
*/
#cart_address_form {
	padding: 5px;
}

#cart_address_form td {
	padding: 5px;
}

#cart_address_form tr {
	border-bottom: 1px solid #CCC;
}

#cart_address_form tr:last-child {
	border: none;
}

.address_top_left {
	display: inline-block;
	vertical-align: top;
	width: 480px;
	padding-right: 5px;
}

.address_top_right {
	display: inline-block;
	width: 480px;
	vertical-align: top;
	padding-left: 5px;
}

.lines>div, .lines tr {
	border-bottom: 1px solid #DDD;
	padding: 3px;
}

.lines td {
	padding: 3px 0;
}

.lines .header {
	border-bottom: 2px solid #333;
	font-weight: bold;
	text-align: center;
}

.lines>div:last-child, .lines li:last-child, .lines tr:last-child {
	border: none;
}

.lines li:first-child div {
	border-bottom: 1px solid #DDD;
	padding: 3px;
}

.more_filter {
	text-align: right;
}

.category-tree {
	padding: 0 !important;
	padding-bottom: 20px !important;
}

.category-tree ul {
	list-style: none;
	padding-left: 10px !important;
}

.category-tree>ul {
	list-style: none;
	margin: 0 !important;
	padding-left: 0 !important;
}

.category-tree li {
	list-style: none;
}

#home_messages {
	
}

#home_messages .store_message {
	font-size: 0.9em;
	text-align: center;
	padding: 2px;
	margin-bottom: 10px;
	background-color: #FFFFCC;
	border: 1px solid #EEE;
	background-color: #FFFFCC;
}

.active_view {
	border: 1px solid #e47911;
	padding: 0 2px;
}

.inactive_view {
	border: none;
	padding: 0 2px;
}

.promo_home_page {
	width: 980px;
	margin: auto;
}

.promo_container {
	float: left;
	width: 470px;
	margin: 5px;
	padding: 5px;
	background-color: #FAFAFA;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
}

.promo_container:nth-child(even) {
	clear: both;
}

.promo_container .banner {
	width: 200px;
	height: 120px;
	background-color: #EEE;
	float: left;
	margin-right: 10px;
	float: left;
}

.promo_container .banner img {
	width: 200px;
	height: 120px;
}

.promo_container .promo_data {
	float: left;
	width: 255px;
}

.promo_container .promo_name {
	font-size: 1.1em;
	font-weight: bold;
}

.promo_container .description {
	font-size: 0.9em;
	padding-bottom: 20px;
}

.promo_container .active_date {
	font-size: 0.9em;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 5px;
	padding-bottom: 5px;
}

.promo_large_description {
	width: 980px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

.button_important {
	background: none !important;
	background-color: #e47911 !important;
	color: #000 !important;
}

.placeholder_text { ::-webkit-input-placeholder { /* WebKit browsers */
	color:#999;
	
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #999;
	opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #999;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #999;
}

}
.tabbox_title {
	border: 1px solid #666;
	position: absolute;
	margin-top: 5px;
	margin-left: 10px;
	padding: 2px 5px;
	background-color: #DDD;
	font-weight: bold;
	border-radius: 5px;
}

.tabbox_container {
	margin-top: 20px;
	border: 1px solid #666;
	padding: 10px 5px 5px;
	border-radius: 5px;
	background-color: #FAFAFA;
}

.tabbox_tabbed_title {
	display: inline-block;
	border: 1px solid #666;
	margin-left: 10px;
	padding: 2px 5px;
	background-color: #DDD;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	border-bottom: none;
	vertical-align: bottom;
}

.tabbox_tabbed_title a {
	display: block;
}

.tabbox_tabbed_container {
	border: 1px solid #666;
	padding: 5px;
	border-radius: 5px;
	background-color: #FAFAFA;
}

.tabbox_container .lines>div, .tabbox_container .lines tr {
	border-bottom: 1px solid #DDD;
	padding: 3px 0;
}

.tabbox_container .lines td {
	padding: 3px 0;
}

.tabbox_container .lines>div:last-child, .tabbox_container .lines tr:last-child
	{
	border: none;
}

.tabbox_container .lines div.header {
	background-color: #CCC;
}

.tabbox_section {
	border: 1px solid #AAA;
	padding: 0 5px;
	margin-top: 5px;
}

.order_sent_container {
	width: 500px;
	margin: auto;
	text-align: center;
}

.suggestion_box {
	position: fixed;
	right: 0px;
	bottom: 50px;
	border: 1px solid gray;
	background-color: rgba(200, 200, 200, 0.8);
	padding: 5px;
	border-radius: 5px 0 0 5px;
	position: fixed;
}

.suggestion_box td {
	padding: 3px;
}

.suggestion_handle a {
	cursor: pointer;
}

.ui-button {
	margin: 3px;
}

.add_to_cart_image {
	width: 50px;
	height: 50px;
	background-image: url("../img/cart.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

.add_to_cart_image_for_title {
	width: 30px;
}

.main_section_home {
	padding-right: 10px;
}

.top_20_title {
	text-align: center;
}

.top_20_link a {
	color: black;
	font-weight: bold;
}

.top_20_format {
	color: #555;
}

.ui-state-active {
	background: url("ui-lightness/images/ui-bg_glass_100_eb8f00_1x400.png")
		!important;
	color: #FFF !important;
}

.promo_div {
	color: #FFF;
}

.promo_div td {
	color: #FFF;
}

.product_detail .promo_div {
	width: 350px;
}

.product_detail .promo_div .ribbon_table {
	margin: auto;
}

.promo_div td {
	font-size: 0.8em;
}

.promo_div_big {
	color: #FFF;
	margin-bottom: 10px;
}

.promo_div_big td {
	font-size: 1.2em;
	font-weight: bold;
}

.promo_div_big .ribbon_table {
	margin: auto;
}

.product_category a:last-of-type {
	font-weight: bold;
}

.help_lvl1 {
	padding: 0 5px;
	background-color: #EEE;
	border-right: 1px solid gray;
	margin-bottom: 10px;
}

.help_lvl1 .links {
	padding: 5px;
	background-color: #EEE;
	padding-right: 30px;
	background-image: url(../img/arrow_down_small.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 14px 9px;
	border-bottom: 1px solid #ddd;
}

.help_lvl1 .links a {
	display: block;
}

.help_lvl2 {
	padding: 0 5px;
	background-color: #FAFAFA;
	margin-bottom: 10px;
}

.help_lvl2 .links {
	background-color: inherit;
	padding: 5px;
	padding-right: 30px;
	background-image: url(../img/page-next-small.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 9px 14px;
	border-bottom: 1px solid #ddd;
}

.help_lvl2 .links a {
	display: block;
}

.kkcountdown-box .kkc-days {
	font-size: 2em;
}

.kkcountdown-box .kkc-hours {
	font-size: 2em;
}

.kkcountdown-box .kkc-min {
	font-size: 2em;
}

.kkcountdown-box .kkc-sec {
	font-size: 2em;
}

.underline {
	text-decoration: underline !important;
}

.product_quota_container {
	border: 1px solid #ddd;
	padding: 5px;
	background-color: #FFF;
}

.product_quota_qty {
	font-size: 1.4em;
	font-weight: bold;
}

.ribbon_table {
	height: 30px;
}

.ribbon_table .left {
	background-image: url('../img/ribbon-l.png');
	background-size: 33px 30px;
	width: 33px;
	background-repeat: no-repeat;
}

.ribbon_table .center {
	padding-bottom: 5px;
	background-size: auto 30px;
	background-image: url('../img/ribbon-c.png');
	background-repeat: repeat-x;
}

.ribbon_table .right {
	background-image: url('../img/ribbon-r.png');
	background-size: 33px 30px;
	width: 33px;
	background-repeat: no-repeat;
}

.filter_container {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 20px;
}

.orange_link a {
	font-weight: bold;
	color: #e47911 !important;
}

.blue_link:link, .blue_link span:link, .blue_link:visited, .blue_link span:visited
	{
	color: #0066c0 !important;
}

.blue_link:hover, .blue_link span:hover {
	color: #e47911 !important;
	text-decoration: underline;
}

#product_images_container {
	float: left;
	width: 350px;
	text-align: center;
}

#product_images_container .discount_float {
	position: absolute;
	margin-top: -85px;
	margin-left: 30px;
	background-color: #FF0000;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-radius: 100%;
	width: 70px !important;
	height: 70px !important;
}

#product_images_container .discount_float span {
	display: block;
	padding-top: 10px;
	line-height: 25px;
	font-size: 1.7em;
}

.product_list_grid_home .discount_float, .product_list_grid .discount_float,
	.product_list .discount_float {
	position: absolute;
	margin-top: -45px;
	margin-left: 15px;
	background-color: #F00;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-radius: 100%;
	width: 40px !important;
	height: 40px !important;
	display: none;
}

.product_list_grid_home .discount_float span, .product_list_grid .discount_float span,
	.product_list .discount_float span {
	display: block;
	padding-top: 12px;
	line-height: 15px;
	font-size: 1.2em;
}

.product_ship_tariff img {
	vertical-align: middle;
	height: 32px;
}

.product_signature {
	margin-left: 40px;
	border: 1px solid #BBB;
	padding: 7px;
}

.product_signature img {
	width: 80px;
}

.author_list_alpha {
	font-size: 1.5em;
}

.author_list_alpha a {
	padding: 10px;
}

.author_list_grid {
	display: inline-block;
	vertical-align: top;
	width: 330px;
	padding: 10px;
}

.author_list_grid.author_product {
	width: 100%;
	padding: 0;
}

.author_list_grid.author_search {
	width: auto !important;
	padding: 10px !important;
}

.author_list_grid .author_image {
	text-align: center;
	display: block;
}

.author_list_grid .author_image img {
	max-height: 100px;
	max-width: 100px;
	border: 3px solid black;
}

.author_list_grid .author_image img {
	height: auto;
	width: 100px;
}

.author_list_grid .author_image img {
	height: 100px;
	width: auto;
}

.author_list_grid .author_no_image {
	margin: auto;
	width: 100px;
	height: 100px;
	text-align: center;
	background-color: #EEE;
	border: 3px solid black;
}

.author_list_grid .author_no_image img {
	height: 100px;
	width: 100px;
}

.author_list_grid .name a:link, .author_list_grid .name a:visited {
	color: #e47911;
	font-weight: bold;
	font-size: 1.2em;
}

.author_list_grid .description {
	font-size: 0.9em;
}

.author_no_image span {
	margin-top: 85px;
	display: inline-block;
}

.authors_corners_image {
	height: 200px;
	width: 200px;
}

.authors_corners_image img {
	max-height: 200px;
	max-width: 200px;
	border: 5px solid black;
}

.authors_corners_image img {
	height: auto;
	width: 200px;
}

.authors_corners_image img {
	height: 200px;
	width: auto;
}

.authors_corners_no_image {
	margin: auto;
	width: 200px;
	height: 200px;
	text-align: center;
	background-color: #EEE;
	border: 5px solid black;
}

.authors_corners_no_image span {
	margin-top: 85px;
	display: inline-block;
}

.authors_corners_question {
	background-color: #EEE;
	padding: 5px;
}

#authors_corners_description_more {
	position: relative;
	margin-top: -50px;
	display: none;
}

#authors_corners_description_more .text {
	margin-top: 5px;
	text-align: center;
	border-top: 2px solid #EEE;
	padding: 5px 0;
	cursor: pointer;
	color: #e47911;
	font-weight: bold;
	text-align: center;
}

#authors_corners_description_more .gradient {
	background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1));
	background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1));
	background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1));
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1));
	height: 50px;
}

#authors_corners_description {
	overflow: hidden;
}

.author_list_grid_left {
	display: inline-block;
	vertical-align: top;
	width: 250px;
}

.author_list_grid_left .author_image {
	text-align: center;
	display: block;
}

.author_list_grid_left .author_image img {
	max-height: 40px;
	max-width: 40px;
	border: 1px solid black;
}

.author_list_grid_left .author_image img {
	height: auto;
	width: 40px;
}

.author_list_grid_left .author_image img {
	height: 40px;
	width: auto;
}

.author_list_grid_left .name a:link, .author_list_grid_left .name a:visited
	{
	color: #e47911;
	font-weight: bold;
	font-size: 1em;
}

.author_list_grid_left .description {
	font-size: 0.7em;
}

.author_list_grid_left .orange_link {
	font-size: 0.7em;
}

.product_description ol, .product_description ul {
	padding-left: 20px;
}

.search_not_found {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 50px;
	text-align: center;
}

.review_feedback {
	font-size: 0.8em;
	color: #666;
}

.bestseller_flag_container {
	line-height: 16px;
}

.bestseller_flag_container div {
	display: inline-block;
}

.bestseller_flag {
	background-color: rgb(140, 102, 67);
	color: white;
	margin: 0 10px;
	height: 16px;
}

.bestseller_flag::after {
	background: none;
	content: ' ';
	border: 5px solid rgb(140, 102, 67);
	border-width: 8px 5px;
	border-right-color: transparent;
	width: 0;
	height: 0;
	position: absolute;
}

.bestseller_flag::before {
	background: none;
	content: ' ';
	border: 5px solid rgb(140, 102, 67);
	border-left-color: transparent;
	border-width: 8px 5px;
	width: 0;
	height: 0;
	position: absolute;
	margin-left: -10px;
}

.all_banner_big {
	width: 700px;
	height: 280px;
	border: 1px solid #DDD;
	margin: 5px;
}

.big_banner_see_all {
	border-radius: 10px;
	box-shadow: 0 0 3px 1px #333;
	cursor: pointer;
	opacity: 0.7;
	background-color: white;
	position: absolute;
	height: 20px;
	padding: 0 10px;
	width: 85px;
	text-align: center;
}

.product_redirect {
	clear: both;
	padding: 7px;
	border: 1px solid #BBB;
	background-color: #FFFFD1
}

.product_redirect table {
	margin: auto;
}

.product_redirect .product_redirect_title {
	font-weight: bold;
}

.category_list_div {
	float: left;
	width: 25%
}

.cart_button img {
	width: 35px;
	height: 30px;
}

.review_feedback div {
	display: inline;
}

.home_links {
	text-align: center;
	padding: 5px 0;
}

.home_links a {
	color: red;
	font-weight: bold;
}

.filter_cancel {
	float: right;
	width: auto;
	padding-top: 5px;
}

.filter_cancel img {
	height: 12px;
	width: 12px;
}

.content_center {
	width: 600px;
	margin: auto;
}

.refund_request {
	text-align: center;
}

.refund_request table {
	display: inline-block;
	vertical-align: top;
}

.refund_request table td {
	height: 30px;
	text-align: left;
}

.verified_text {
	white-space: nowrap;
	color: #090;
}

.radio_group label {
	padding: 0 20px 0 5px;
}

.radio_group label, .radio_group input {
	vertical-align: middle;
}

#CartQtySelectBoxItContainer {
	vertical-align: middle !important;
}

.contact_hours span:nth-child(even) {
	display: inline-block;
}

.contact_hours span:nth-child(odd) {
	width: 150px;
	display: inline-block;
}